/* the @gleuch default setup - updated 2011-06-07 */
html, body, header, hgroup, nav, article, section, details, aside, footer, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 1.0em; vertical-align: baseline; background: transparent; font-weight: 400;}
header, hgroup, nav, article, section, details, aside, footer {display: block;}
html, body {height: 100%;}
body {line-height: 1.0em; font-size: 62.5%; margin: 0; padding: 0;}
dl dt {font-weight: bold;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse; border-spacing: 0; font-size: 1.0em;}
thead, tbody, tr, th, td {font-size: 1.0em; line-height: 1.0em;}
body, h1, h2, h3, h4, h5, h6, input, select, textarea {font-family: Arial, Helvetica, Verdana, sans-serif; line-height: 1.2em;}
h1, h2, h3, h4, h5, h6, input, select, textarea, p, blockquote, li, dt, dd {letter-spacing: 0;}
p, blockquote, li, dt, dd {font-size: 1.0em; font-family: Arial, Helvetica, Verdana, sans-serif; color: #000; line-height: 1.25em;}
code {display: block; font-size: 1.0em; color: #404040; line-height: 1.25em;}
blockquote p, blockquote blockquote, li li, p code {font-size: 1.0em;}
dt {font-weight: bold;}


/* forms ....... */

form h2 {font-size: 2.0em; font-weight: 600; padding: 0 0 8px 0;}
fieldset {position: relative; padding: 8px 0 8px 150px;}
fieldset legend {position: absolute; top: 6px; left: 0; width: 132px; font-size: 1.3em; font-weight: 400; color: #333;}
fieldset.line legend {top: 8px;}
fieldset label {float: none; width: auto; font-size: 1.3em; padding-right: 6px; color: #333;}
fieldset.buttons {padding-left: 0; text-align: right;}
fieldset.buttons .button {font-size: 1.5em;}
fieldset p {padding: 8px 0 0 0; margin: 0; color: #777;}
fieldset input[type=text], fieldset input[type=password], fieldset textarea, fieldset input[type=email] {width: 300px; margin: 0; padding: 4px 3px; font-size: 1.3em; line-height: 1.0em; border: 1px solid #aaa; background: #eee; color: #666; font-family: Arial, Helvetica, Verdana, sans-serif; border-radius: 2px; box-shadow: 0 1px 1px rgba(0,0,0,.06);}
fieldset input[type=text]:focus, fieldset input[type=password]:focus, fieldset textarea:focus, fieldset input[type=email]:focus {background: #fff; color: #333; border-color: #999; box-shadow: 0 1px 1px rgba(0,0,0,.12);}
fieldset textarea {line-height: 1.33em;}
fieldset select {font-size: 1.3em; padding: 4px 3px !important; margin: 0; line-height: 1.0em; font-family: Arial, Helvetica, Verdana, sans-serif !important; color: #666;}

form hr {height: 1px; margin: 8px 0; padding: 0; background-color: #d0d0d0; border: none;}


/* layouts ....... */
.c:after {content: "."; clear: both; display: block; height: 0; visibility: hidden;}
.left {clear: none; float: left;}
.right {clear: none; float: right;}
.rel {position: relative;}
.abs {position: absolute;}




/* visual look */
body {background: #fff;}

h1, h2, h3, h4, h5, h6 {font-weight: 600;}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p {}
em {}
strong {}
b {}
i {}

a {color: #00F; text-decoration: none; font-weight: auto;}
a:focus, a:hover {color: #33F;}

ul.nav {display: block; margin: 0; padding: 0;}
ul.nav li {clear: none; float: left; display: block; width: auto; margin: 0; padding: 0 8px; list-style: none;}
ul.nav li:first-child {padding-left: 0;}
ul.nav li:last-child {padding-right: 0;}
ul.nav li a {font-size: 1.6em; line-height: 1.0em; font-weight: 300; color: #777;}
ul.nav li a:hover, #header nav ul.nav li a:focus {color: #333;}
ul.nav li.selected a {font-weight: 600; color: #333;}

.form_errors {background: #fb4343; margin: 0 0 24px 0; padding: 8px 12px; border: 1px solid #fb4343; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,.06);}
.form_errors_header {font-weight: 600; font-size: 1.5em; line-height: 1.33em; color: #fff;}
.form_errors ul {padding: 4px 0 0 0; list-style: disc;}
.form_errors ul li {font-size: 1.3em; line-height: 1.25em; color: #fff; padding: 2px 0 3px 0; margin: 0 0 0 32px;}
.form_errors ul li span {color: #fff !important;}

#flashes {margin: 0 0 24px 0;}
.flash {padding: 8px 12px; margin: 8px 0 0 0; background: #dbdbdb; border: 1px solid #dbdbdb; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,.06); font-size: 1.3em; line-height: 1.25em; color: #2b2b2b; font-weight: 600;}
#flashes .flash:first-child {margin: 0;}
.flash.flash_success {background: #77a443; border-color: #77a443; color: #fff;}
.flash.flash_error {background: #fb4343; border-color: #fb4343; color: #fff;}
.flash.flash_warning {background: #fbdf43; border-color: #fbdf43;}
.flash.flash_info {}
.flash.flash_notice {background: #fff; border-color: #fff;}
.flash.flash_alert {background: #2b2b2b; border-color: #2b2b2b; color: #fff;}

.button {display: inline-block; padding: .5em .8em; line-height: 1.0em; font-weight: 600; color: #222; background: #d0d0d0; border: 1px solid transparent; border-radius: 8px; box-shadow: 0 1px 1px rgba(0,0,0, .32); text-shadow: 0 1px 1px rgba(255,255,255,.32); text-decoration: none;}
.button:focus, .button:hover {color: #000; background: #bbb; cursor: pointer;}
.button.primary {color: #e0e0e0; background: #333; text-shadow: 0 1px 1px rgba(0,0,0,.18);}
.button.primary:focus, .button.primary:hover {color: #fff; background: #555;}
.button.large {font-size: 1.5em; padding: .55em .87em;}


table {width: 100%; margin: 0 0 8px 0;}
table tr td, table tr th {font-size: 1.2em; text-align: left; padding: 4px 0;}
table tr th {font-weight: 600; border-bottom: 1px solid #ccc;}
table tr td.b, table tr td.b a {font-weight: 600;}

.stats {padding: 0 0 12px 0;}
.stats h2 {padding: 0 0 8px 0; font-size: 2.4em; font-weight: 600; text-transform: lowercase;}
.stats table {margin-left: 8px;}
.stats table tr th, .stats table tr td {font-size: 1.3em;}
.stats table tbody tr td {border-top: 1px solid #ccc; padding: 8px;}
.stats table thead tr th {padding: 8px;}
.stats table tbody tr:first-child td {border: none;}
.stats table tbody tr:hover td {background: #e9e9e9;}
.stats table td.b {width: 150px;}

.print {display: none;}



#header {position: fixed; top: 10px; left: 20px; right: 20px;}
#header .container {height: 50px;}
#header h1#logo {clear: none; float: left; padding: 8px 0 0 0; font-size: 3.6em; line-height: 1.0em;}
#header h1#logo a {color: #000; font-weight: 600;}
#header h1#logo a:hover, #header h1#logo a:focus {color: #666;}
#header #options {clear: none; float: right;}

#heading {margin: 8px 0 20px 0;}
#heading h1 {padding: 0 0 4px 0; font-size: 4.2em; font-weight: 600; line-height: 1.1em; color: #2b2b2b; text-transform: lowercase; vertical-align: baseline;}
#heading h2 {padding: 0 0 4px 0; font-size: 2.4em; font-weight: 300; line-height: 1.1em; color: #7d7d7d; text-transform: lowercase; vertical-align: baseline;}

#content {padding: 100px 0;}
#content .container {width: 550px; margin: 0 auto;}

#content #answer {padding: 100px 0 75px 0; text-align: center;}
#content #answer h2#place_name {padding: 0; margin: 0; font-weight: 400; font-size: 2.4em; line-height: 1.25em; color: #999;}
#content #answer h1#place_answer {padding: 0; margin: 0; font-size: 12.0em; line-height: 1.0em; text-transform: uppercase;}

#content #loading {text-indent: 6px; height: 16px; margin: 21px 80px 0 80px; padding: 106px 0 60px 0; background: rgba(255,255,255,0.92) url(../images/loading.gif?) center 60px no-repeat; font-size: 1.6em; line-height: 1.0em; text-align: center; color: #999; text-transform: lowercase;}

#map {position: fixed; display: none; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; z-index: -1; opacity: .25;}
#map #map_area {width: 100%; height: 100%;}
#search {display: none; padding: 60px 0; margin: 40px 0 0 0; background: rgba(255,255,255,0.92); text-align: center;}
#search fieldset {margin: 0; padding: 0;}
#search #search_field {font-size: 3.2em; width: 500px; margin: 0; padding: 4px 6px;}


#footer {position: fixed; bottom: 10px; left: 20px; right: 20px; z-index: 10;}
#footer .container {height: 38px; opacity: .33;}
#footer .container:hover {opacity: 1.0;}
#footer #credits {clear: none; float: left; display: block; padding: 10px 0 0 0; margin: 10px 0 0 0; height: 13px; font-size: 1.3em; line-height: 1.0em; overflow: hidden;}
#footer #powered {clear: none; float: right; display: block; padding: 10px 0 0 0; margin: 10px 0 0 0; height: 13px; font-size: 1.1em; line-height: 1.0em; overflow: hidden;}
#footer #languages {clear: none; float: right;}
#footer a {text-decoration: underline; color: #000;}
#footer a:focus, #footer a:hover {color: #666;}